.mainPage {
    background: var(--pages-background);
}

.sidebar {
    background-color: red;
    width: 40vw;
}

.sidebarItem {
    border-bottom: 1px solid var(--dark-blue);
}

.sidebarItem a {
    color: inherit;
    text-decoration: none;
}

.dashboardIcons {
    background-color: var(--dark-blue);
    height: 10vh;
}
.sideBar--item--mobile{
    height: 80vh;
    overflow-y: scroll;
}
.sideBar--item--mobile::-webkit-scrollbar {
    display: none;
}
.sidebar--mobile{
    width: 100% !important;
}