.mainPage {
    background: var(--pages-background);
}

.sidebar {
    background-color: red;
    width: 40vw;
}

.sidebarItem {
    border-bottom: 1px solid var(--dark-blue);
}

.sidebarItem a {
    color: inherit;
    text-decoration: none;
}

.dashboardIcons {
    background-color: var(--dark-blue);
    height: 10vh;
}

.sidebar--mobile{
    width: 194px !important;
}