.factors--page {
  background: var(--pages-background);
  width: 100%;
  height: 100vh;
}
.factorCard {
  border-radius: 10px;
}
.factor--blue--section {
  background-color: var(--light-blue);
  border-radius: 10px;
}
.lable--factor {
  color: var(--text-color-four);
  font-size: 14px;
  font-weight: 600;
}
.text--factor {
  color: #000;
  font-size: 15px;
  font-weight: 600;
  white-space: nowrap;
}
.th--header--table--factor {
  color: var(--text-color-four);
  font-size: 13px;
}
.td--body--table--factor {
  color: #000;
  font-size: 15px;
  font-weight: 600;
}
.icon--tick--confirm {
  height: 30px;
  width: 30px;
}
.btn--checkout--order--mobile{
  color: #fff;
  width: 100%;
  background-color: var(--dark-blue);
  border: none;
  border-radius: 10px;
  font-size: 13px;
  font-weight: bold;
  height:45px;
  font-family: "IranSans";
  padding: 11px;
  margin-top: 85px;
}
.btn--checkout--order--mobile:hover , 
.btn--checkout--order--mobile:active , 
.btn--checkout--order--mobile:focus ,
.btn--checkout--order--mobile:focus:active , 
.btn--checkout--order--mobile:active:focus{
  color: #fff;
  background-color: var(--dark-blue);
  box-shadow: none;
}
@media only screen and (max-width: 350px) {
  .lable--factor {
    font-size: 10px;
  }
  .text--factor {
    font-size: 11px;
  }
  .th--header--table--factor {
    font-size: 10px;
  }
  .td--body--table--factor {
    font-size: 12px;
  }
  .icon--tick--confirm {
    width: 25px;
    height: 25px;
  }
}
