/* setting page background color */
.order-page {
  /* height: 100%;
  min-height: 100vh; */
  background: var(--pages-background);
  z-index: -1;
}

.add-order-download-btn {
  background-color: white;
  border-radius: 11px;
}

.add-order-download-btn:active {
  border: 1px solid var(--text-color-two);
}

.add-order-download-btn:focus {
  border: 1px solid var(--text-color-two);
}
.add-order-download-btn-loading {
  width: 48px;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 37px;
  background-color: white;
  border-radius: 11px;
}
.order-flex {
  top: 47px;
}

.add-order-input {
  font-size: 11px;
  color: var(--text-color-one);
  font-family: "IranSans";
  font-weight: bold;
  width: 47%;
}

.order-inputs {
  font-size: 11px;
  color: var(--text-color-one);
  font-family: "IranSans";
  font-weight: bold;
}

.order-input {
  border-radius: 10px;
  color: var(--text-color-two);
  font-size: 14px;
  border: none;
  max-height: 6vh;
}
.order-input:focus {
  outline: var(--button-color-one);
  border: 1px solid var(--button-color-one);
}

.order-page .form-control {
  height: calc(1.5em + 0.75rem + 1px);
}
.order--btn {
  border: none;
  border-radius: 11px;
  font-size: 14px;
  font-weight: bold;
  height: 43px;
  font-family: "IranSans";
  padding: 11px;
  background-color: var(--dark--blue);
}
.order-submit {
  background-color: var(--button-background);
  color: var(--button-color-one);
}
.order--sale--opportunity {
  color: #fff;
  background-color: var(--button-color-one);
}

.order-page .card {
  background-color: var(--card-background);
}

.basketContainer {
  border-radius: 11px;
}

.basket-flex .dropdown-toggle {
  border: none;
  background-color: var(--body-bachground);
  color: var(--text-color-one);
  font-size: 13px;
  border-radius: 10px;
  width: 100%;
  text-align: right;
  height: 35px;
}
.basket-flex .dropdown-toggle:focus {
  background-color: var(--body-bachground);
  color: var(--text-color-one);
}
.basket-flex .dropdown-toggle::after {
  content: "";
  border: none;
}

.basket-flex .dropdown-item {
  font-size: 13px;
}

.basket-flex.btn-primary:not(:disabled):not(.disabled):active,
.basket-flex.btn-primary:not(:disabled):not(.disabled):active,
.basket-flex.btn-primary:not(:disabled):not(.disabled).active,
.basket-flex.show > .basket-flex.btn-primary.dropdown-toggle {
  color: var(--text-color-one);
  background-color: var(--body-bachground);
  border: none;
}

.basket-flex.btn-primary:not(:disabled):not(.disabled):active:focus,
.basket-flex.btn-primary:not(:disabled):not(.disabled).active:focus,
.basket-flex.show > .basket-flex.btn-primary.dropdown-toggle:focus {
  box-shadow: none;
}

.basket-flex.btn-primary:focus,
.basket-flex.btn-primary.focus {
  box-shadow: none;
}

.basket-flex.products-add:focus + .basket-flex.btn-primary,
.basket-flex.products-add:focus {
  background-color: var(--body-bachground);
}

.basket-flex.btn-primary:hover {
  background-color: var(--body-bachground);
}

.basket-flex.dropdown-divider {
  margin: 0.3rem 0;
  border-top: 1px solid var(--text-color-one);
}

.basket-dropdown-border-left {
  border-left: 1px solid var(--button-background);
}

.products-add--mobile {
  background-color: rgb(10, 88, 202);
  border-radius: 13px;
  padding: 150px 0px;
  height: 35px;
}
.products-add--mobile:focus,
.products-add--mobile:active,
.products-add--mobile:hover,
.products-add--mobile:active:focus {
  background-color: rgb(10, 88, 202) !important;
  border-radius: 13px;
}

.products-add {
  background-color: var(--body-bachground);
  border-radius: 11px;
}

.products-add:active {
  background-color: var(--body-bachground);
}

.basket-flex th {
  font-size: 11px;
  color: var(--text-color-one);
  font-weight: normal;
}

.basket-flex td {
  color: var(--text-color-two);
  font-size: 13px;
  font-weight: 600;
}

.basket-flex img {
  width: 1.5rem;
}

.dropdownProductMenu {
  width: 100%;
  border-radius: 0 0 11px 11px;
  padding: 5px;
  max-height: 50vh;
  overflow: auto;
}

.dim {
  box-shadow: 0 0 0 1000px rgba(0, 0, 0, 0.5);
  box-shadow: 0 0 0 100vmax rgba(0, 0, 0, 0.5);
}

.border-top-blue {
  border-top: 2px solid var(--dark-blue);
  margin-right: 0vw;
}
.border-top-blue .col-5 {
  color: var(--text-color-two);
  font-size: 13px;
  font-weight: 600;
}
.reminder-span {
  font-size: 9px;
}

.background-blue {
  background-color: var(--background-blue);
}

.orders th {
  font-size: 11px;
  color: var(--text-color-one);
  font-weight: normal;
}

.orders td {
  color: var(--text-color-two);
  font-size: 13px;
  font-weight: 600;
}

.orders span {
  color: var(--text-color-two);
  font-size: 13px;
  font-weight: 600;
}

.text-bold {
  color: var(--text-color-two);
  font-size: 13px;
  font-weight: 600;
}

.text-gray {
  font-size: 13px;
  color: var(--text-color-one);
}

.orders .customer-round {
  border-radius: 10px;
}

/* order filter */

.order-filter-body {
  background-color: var(--pages-background);
  border-radius: 20px;
}

.modal-content {
  border-radius: 20px;
}

.order-filter-button {
  border-radius: 11px;
  padding: 10px 0 10px 0;
  background-color: var(--button-background);
  color: var(--button-color-one);
  font-weight: bold;
  border: none;
}

.order-filter-input {
  font-size: 11px;
  color: var(--text-color-one);
  font-family: "IranSans";
  font-weight: bold;
}

.order-filter-close-btn {
  background-color: red;
  color: white;
  width: 50px;
  height: 50px;
  margin-right: auto;
}

.my-custom-scrollbar {
  position: relative;
  height: 24vh;
  overflow: auto;
}

.table-wrapper-scroll-y {
  display: block;
}

.customer-modal-close {
  background-color: var(--dager-color);
  border-radius: 10px;
  padding: 3px;
  position: absolute;
  left: -2vw;
  top: -2vh;
  z-index: 10000;
}

.customer-modal-close.products-add:focus + .btn-primary,
.products-add:focus {
  background-color: var(--dager-color);
}

.customer-modal-close.btn-primary:hover {
  background-color: var(--dager-color);
}

.customer-modal-close-svg {
  width: 24px;
}

.order-serach-modal {
  left: auto;
  width: 91%;
}
.alert-cancel-product-order {
  position: relative !important;
  bottom: 0;
}

/* 
.form-control.is-valid:focus, .was-validated :valid.form-control {
    padding: inherit !important;
    border-color: inherit !important;    
    background-image: none !important;
    box-shadow: none !important;
} */
/*calendar time button*/
.eVqaMu {
  display: none;
}
.edit-order-btn {
  background-color: var(--button-color-one);
  border-radius: 11px;
  font-size: 1.1rem;
}
.edit-order-btn:focus,
.edit-order-btn:active,
.edit-order-btn:active:focus,
.edit-order-btn:focus:active {
  background-color: var(--button-color-one) !important;
}
.card--title--address {
  font-size: 11px;
  color: var(--text-grey);
  font-family: "IranSans";
}
.basket--Product--Container {
  border-radius: 11px;
  background-color: var(--card-background);
}
.basket--edit--Product--mobile {
  border-radius: 11px;
  background-color: var(--card-background);
}
.address-input {
  max-height: 10vh;
  height: 50px;
}
.company-input {
  height: 35px;
}
.btn--add--note {
  font-size: 14px;
  white-space: nowrap;
  overflow: hidden;
  padding: 0.5rem 0;
  border: none;
  color: var(--button-color-one);
  background-color: var(--background-blue);
  margin-bottom: 0.7rem;
  border-radius: 8px;
}
.btn--add--note:hover,
.btn--add--note:active,
.btn--add--note:focus,
.btn--add--note:focus:active,
.btn--add--note:active:focus {
  color: var(--button-color-one);
  background-color: var(--background-blue) !important;
}
.notes--input {
  border-radius: 10px;
  color: var(--text-color-two);
  font-size: 14px;
  border: none;
}
.notes--input:focus {
  outline: var(--button-color-one);
  border: 1px solid var(--button-color-one);
}
.btn--notes--submit {
  background-color: var(--button-background);
  color: var(--button-color-one);
  border-radius: 10px;
}
.order--sale--opportunity {
  border: none;
  border-radius: 11px;
  font-size: 13px;
  font-weight: bold;
  height: 43px;
  font-family: "IranSans";
  padding: 11px;
}
.order--sale--opportunity:hover,
.order--sale--opportunity:active,
.order--sale--opportunity:focus,
.order--sale--opportunity:focus:active,
.order--sale--opportunity:active:focus {
  background-color: var(--button-color-one);
  color: #fff;
}

.btn--notes--submit:hover,
.btn--notes--submit:active,
.btn--notes--submit:focus,
.btn--notes--submit:focus:active,
.btn--notes--submit:active:focus {
  background-color: var(--button-background);
  color: var(--button-color-one);
}
@media print {
  .noPrint {
    display: none;
  }
  .active--item--sidebar::before,
  .active--item--sidebar,
  .MuiSvgIcon-root,
  .MuiToolbar-root {
    display: none !important;
  }
}
.spinner--download--btn--mobile {
  position: relative;
  top: -28px;
  right: 34vw;
}
.quantity--span {
  position: relative;
  top: 29px;
  right: 3vw;
  font-size: 13px;
  color: var(--text-color-one);
}
.quantity--input {
  position: relative;
  top: -23px;
}
.basket--top {
  position: relative;
  top: -26px;
}
.border-10 {
  border-radius: 10px;
}
.file--icon--mobile {
  position: relative;
  top: 43px;
  right: 13px;
}
.btn-toggle-status-green {
  position: relative !important;
  margin: 8;
  box-sizing: content-box;
  overflow: hidden;
}
.btn-toggle-status-green:before {
  content: "";
  display: block;
  box-sizing: content-box;
  width: 18px;
  height: 18px;
  border: 2px solid #ccc;
  transition: 0.2s border-color ease;
}
.btn-toggle-status-green--checked:before {
  border-color: var(--button-color-two);
}
.btn-toggle-status-green:checked:before {
  border-color: var(--button-color-two);
  transition: 0.5s border-color ease;
}
.btn-toggle-status-green:after {
  content: "";
  display: block;
  position: absolute;
  box-sizing: content-box;
  top: 50%;
  left: 50%;
  transform-origin: 50% 50%;
  background-color: var(--button-color-two);
  width: 16px;
  height: 16px;
  border-radius: 100vh;
  transform: translate(-50%, -50%) scale(0);
}
.btn-toggle-status-green[type="checkbox"]:before {
  border-radius: 100vh;
}
.btn-toggle-status-green[type="checkbox"]:after {
  width: 16px;
  height: 16px;
  border-radius: 100vh;
  transform: translate(-50%, -50%) scale(0);
}
.btn-toggle-status-green[type="checkbox"]:checked:after {
  -webkit-animation: toggleOnRadio 0.2s ease forwards;
  -apple-animation: toggleOnRadio 0.2s ease forwards;
  animation: toggleOnRadio 0.2s ease forwards;
}
@-webkit-keyframes toggleOnRadio {
  0% {
    opacity: 0;
    transform: translate(-50%, -50%) scale(0);
  }
  70% {
    opacity: 1;
    transform: translate(-50%, -50%) scale(0.9);
  }
  100% {
    transform: translate(-50%, -50%) scale(0.8);
  }
}
@keyframes toggleOnRadio {
  0% {
    opacity: 0;
    transform: translate(-50%, -50%) scale(0);
  }
  70% {
    opacity: 1;
    transform: translate(-50%, -50%) scale(0.9);
  }
  100% {
    transform: translate(-50%, -50%) scale(0.8);
  }
}

.btn-toggle-status-red {
  position: relative !important;
  margin: 8;
  box-sizing: content-box;
  overflow: hidden;
}
.btn-toggle-status-red:before {
  content: "";
  display: block;
  box-sizing: content-box;
  width: 18px;
  height: 18px;
  border: 2px solid #ccc;
  transition: 0.2s border-color ease;
}
.btn-toggle-status-red:checked:before {
  border-color: #dc3545 !important;
  transition: 0.5s border-color ease;
}
.btn-toggle-status-red:after {
  content: "";
  display: block;
  position: absolute;
  box-sizing: content-box;
  top: 50%;
  left: 50%;
  transform-origin: 50% 50%;
  background-color: #dc3545 !important;
  width: 16px;
  height: 16px;
  border-radius: 100vh;
  transform: translate(-50%, -50%) scale(0);
}
.btn-toggle-status-red[type="checkbox"]:before {
  border-radius: 100vh;
}
.btn-toggle-status-red[type="checkbox"]:after {
  width: 16px;
  height: 16px;
  border-radius: 100vh;
  transform: translate(-50%, -50%) scale(0);
}
.btn-toggle-status-red[type="checkbox"]:checked:after {
  -webkit-animation: toggleOnRadio 0.2s ease forwards;
  animation: toggleOnRadio 0.2s ease forwards;
}
@-webkit-keyframes toggleOnRadio {
  0% {
    opacity: 0;
    transform: translate(-50%, -50%) scale(0);
  }
  70% {
    opacity: 1;
    transform: translate(-50%, -50%) scale(0.9);
  }
  100% {
    transform: translate(-50%, -50%) scale(0.8);
  }
}
@keyframes toggleOnRadio {
  0% {
    opacity: 0;
    transform: translate(-50%, -50%) scale(0);
  }
  70% {
    opacity: 1;
    transform: translate(-50%, -50%) scale(0.9);
  }
  100% {
    transform: translate(-50%, -50%) scale(0.8);
  }
}
.card--body--show--doc--mobile {
  height: 100%;
  overflow-y: auto;
  overflow-x: hidden;
}
