.download--seller--btn--mobile {
  position: absolute;
  left: 24px;
  top: 116px;
  background-color: white;
}
.remove--btn--mobile{
  position: absolute;
  left: 8px;
  top: 32px;
  background-color: white;
}
