:root {
  --body-bachground: #ffffff;
  --button-background: #64b5f6;
  --button-background-two: #e2e7ed;
  --button-color-one: #373737;
  --pages-background: #ebebeb;
  --text-color-one: #646464;
  --text-color-two: #383738;
  --text-color-three: #6d6b6d;
  --button-color-two: #4caf50;
  --card-background: #cdcdcd;
  --dager-color: #e53935;
  --background-blue: #c3e2fc;
  --dark--blue: #0a58ca;
  --btn-bg-excel: #287a49;
  --card-color: #a9a9a9;
  --card-background: #d8d8d8;
  --note-border: #1d64ce;
  --note-background: #cbdaed;
}
/*  */

@font-face {
  font-family: "IranSans";
  src: url("../fonts/ir_sans.ttf");
}

body {
  font-family: "IranSans";
  background-color: var(--pages-background);
  margin: 0;
  padding: 0;
}
.w-40 {
  width: 40% !important;
}
.fs-7 {
  font-size: 0.75rem;
}
.fs-8 {
  font-size: 0.55rem;
}
.fs-9 {
  font-size: 0.4rem;
}
.fs-13-px {
  font-size: 13px !important;
}
.ff-iranSans {
  font-family: "IranSans" !important;
}
.alert--container .alert {
  bottom: auto;
  top: 0;
  left: 0px;
}
.p--relative {
  position: relative !important;
}
.flex-grow-1-5 {
  flex-grow: 1.5 !important;
}
.text-grey {
  color: var(--text-color-three);
}
.btn-dark-blue {
  background-color: var(--dark--blue);
  color: #fff;
}
.btn-dark-blue:active,
.btn-dark-blue:hover,
.btn-dark-blue:focus,
.btn-dark-blue:active:focus,
.btn-dark-blue:focus:active {
  background-color: var(--dark--blue);
  color: #fff;
}
.btn--excel--desktop {
  color: #fff;
  height: 43px;
  background-color: var(--btn-bg-excel);
  display: flex;
  justify-content: start;
  align-items: center;
  border-radius: 15px;
}
.btn--excel--desktop:hover,
.btn--excel--desktop:active,
.btn--excel--desktop:active:focus,
.btn--excel--desktop:focus {
  color: #fff;
  background-color: var(--btn-bg-excel);
  box-shadow: none;
}

.btn--add--desktop {
  color: #fff;
  height: 43px;
  font-size: 13px;
  width: 160px;
  background-color: rgb(10, 88, 202);
  display: flex;
  justify-content: start;
  align-items: center;
  border-radius: 15px;
}
.btn--add--desktop:hover,
.btn--add--desktop:active,
.btn--add--desktop:active:focus,
.btn--add--desktop:focus {
  color: #fff;
  background-color: rgb(10, 88, 202);
  box-shadow: none;
}
.margin--top--header {
  margin-top: 65px !important;
}
