.employees--card {
  border: none;
  border-radius: 15px;
  width: 245px;
}

.hire-application-btn--desktop,
.hire-application-btn--desktop:focus,
.hire-application-btn--desktop:active,
.hire-application-btn--desktop:hover,
.hire-application-btn--desktop:focus:active,
.hire-application-btn--desktop:active:focus {
  background-color: var(--button-color-two);
  box-shadow: none;
}
.close-application-btn--desktop,
.close-application-btn--desktop:focus,
.close-application-btn--desktop:active,
.close-application-btn--desktop:hover,
.close-application-btn--desktop:focus:active,
.close-application-btn--desktop:active:focus {
  background-color: var(--dager-color);
  box-shadow: none;
}

.applications-text-gray--desktop {
  font-size: 13px;
  color: var(--text-color-one);
}

.applications-text-gray--desktop span {
  color: black;
  font-size: 14px;
  white-space: nowrap;
}
.application--dekstop {
  width: 32%;
}
@media (min-width: 0) {
  .application--dekstop {
    width: 100%;
  }
}
@media (min-width: 800px) {
  .application--dekstop {
    width: 48%;
  }
}
@media (min-width: 1200px) {
  .application--dekstop {
    width: 32%;
  }
}

.employees-text-gray--desktop {
  font-size: 12px;
  white-space: nowrap;
  color: var(--text-color-one);
}
.employees--p--gray--desktop   {
  font-size: 16px ;
  margin-right: .3rem;
  white-space: nowrap;
  color: var(--text-color-one);
}
.employees-text-gray--desktop span {
  color: black;
  font-size: 13px;
  font-weight: 600;
  white-space: nowrap;
}
.employees-text-permission--desktop {
  color: black;
  font-size: 12px;
  font-weight: 600;
  /* white-space: nowrap; */
}

.modal--edit--employee .modal-dialog-centered{
  justify-content: center;
}
.modal--edit--employee .modal-content{
  width: 400px;
}
.option--time--filter--groupe {
  display: inline-block;
  padding: 5px 10px;
  cursor: pointer;
}

.option--time--filter--groupe input {
  display: none;
}

.option--time--filter--groupe span {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 16px;
  font-weight: 100;
  /* white-space: nowrap; */
}

.option--time--filter--groupe span:before,
.option--time--filter--groupe span:after {
  content: "";
}

.option--time--filter--groupe span:before {
  background-color: #fff;
  border: 2px solid var(--button-color-two);
  width: 15px;
  height: 15px;
  margin-left: 10px;
  display: inline-block;
  border-radius: 50%;
  min-width: 15px;
    min-height: 15px;
}

.option--time--filter--groupe span:after {
  background: var(--button-color-two);
  width: 15px;
  height:15px;
  border-radius: 50%;
  position: absolute;
  /* top: 9px; */
  right: 0px;
  transition: 300ms;
  opacity: 0;
}

.option--time--filter--groupe input:checked + span:after {
  opacity: 1;
}