@media (min-width: 992px){
    
  .order-serach-modal--medium .modal-lg {
    max-width: 33vw;
  }

}
@media (min-width: 992px){
  .order-serach-modal--medium .modal-lg {
    max-width: 525px;
  }
  .order-serach-modal--large .modal-lg {
    max-width: 739px;
  }
}

.order-input--description{
  border-radius: 10px;
  color: var(--text-color-two);
  font-size: 14px;
  border: none;
}

.description--height {
  line-height: 1.5;
  height: 4.5em;
  overflow: hidden;
}
.product-checkbox--danger{
  color: var(--dager-color);
}
.product-checkbox--success{
  color: var(--button-color-two);
}
.more--description{
  text-decoration: none;
  color: var(--bs-danger)
}
.more--description:hover{
  color: var(--bs-danger)
}